<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <title>Create New Writer</title>
</head>
<body>
<div class="wrapper">
    <div id="content">
        <div class="container-fluid">
        </div>
        <center><h1>Create new writer</h1></center>
        <div class="modal-dialog container-fluid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add record</h5>
                </div>
                <div class="modal-body">
                    <form th:action="@{/user/add/submit/}" th:object="${entry}"
                          method="post">
                        <fieldset>
                            <div class="form-group">
                                <label for="name">Full Name</label>
                                <input type="text" th:field="*{name}" autocomplete="off" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" th:field="*{username}" autocomplete="off" class="form-control" id="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="text" th:field="*{password}" autocomplete="off" class="form-control" id="password">
                            </div>
                            <div class="form-group">
                                <label for="pnc">PNC</label>
                                <input type="text" th:field="*{pnc}" autocomplete="off" class="form-control" id="pnc">
                            </div>
                        </fieldset>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                    <a th:href="@{/admin/}">
                        <button>
                            CANCEL
                        </button>
                    </a>
                </div>
                <div th:if="${errorMessageAuthor != null}" class="alert alert-danger alert-dismissible">
                    <a th:href="@{/user/add/}" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span th:text="${errorMessageAuthor != null} ? ${errorMessageAuthor}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>